@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  color: #fff;
  // background-color: $main-background;
  position: relative;
  direction: rtl;
  // overflow-x: hidden;
  // border: 10px solid red;
  // &.overlay{
  //     &::before{
  //         content: "";
  //         display: block;
  //         width: 100vw;
  //         height: 100vh;
  //         background-color: rgba(0, 0, 0, 0.3);
  //         position: fixed;
  //         top: 0;
  //         left: 0;
  //         z-index: 2;
  //     }
  // }
}

button,
button:focus,
button:focus-visible,
input:focus-visible,
.form-control:focus,
select:focus-visible,
.form-select:focus {
  outline: 0 !important;
  box-shadow: none !important;
}


.main-button{
    background-color: $main-color;
    padding: 10px;
    height: 45px;
    border-radius: 5px;
    border: 0px solid transparent;
    color:#fff;
    font-weight: 600;
}

.owl-theme {
  .owl-nav {
    position: absolute;
    z-index: 1;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;

    button {

      &.owl-prev,
      &.owl-next {
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: $main-color;
        font-size: 18px;
        font-weight: bold;
        line-height: 28;
      }
    }
  }

  .owl-dots {
    width: fit-content;
    margin: 15px auto 0;
    z-index: 2;
    position: relative;

    .owl-dot {

      span {
        background: rgba(192, 197, 208, 0.70);
      }

      &.active,
      &:hover {
        span {
          background: $main-color ;
        }
      }
    }
  }
}