footer {
  min-height: 300px;
  // margin-top: 200px;
  padding-top: 50px;
  // padding-bottom: 40px;
  //  border-top: 2px solid #000;
  text-align: center;
  h2 {
    color: $text-color;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
  }
  ul {
    li {
      // padding: 15px;
      a {
        color: $text-color;
        font-weight: 700;
        text-decoration: none;
        padding: 20px;
        &:hover {
          color: $text-color;
        }
      }
      &{
        @media(max-width:992px){
          margin: 5px;
        }
      }
    }
  }
  
  .social {
    img {
      width: 40px;
      height: 40px;
      margin: 5px;
    }
  }
  .copy-right {
    color: $text-color;
    border-top: 1px solid #e6e8ec;
    margin-top: 30px;
    font-weight: 500;
  }
}

// For Share
.phone {
    padding: 20px;
    .phone-icon {
      background-color: #f3fdf7;
      border-radius: 8px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span {
      color: $text-color;
      font-size: 15px;
      padding-right: 20px;
    }
  }