footer {
  background: linear-gradient(0deg,
      rgba(20, 20, 20, 0.61),
      rgba(22, 22, 22, 0.548)),
    url("../imgs/Rectangle 5 (1).png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 40px;

  .nav-link {
    padding: 10px 0px 10px 15px !important;

    span {
      width: 44px !important;
      height: 44px !important;
      font-size: 22px !important;
    }
  }

  h6 {
    font-size: 17px;
    margin-bottom: 13px;
  }

  .copy-right {
    font-weight: 300 !important;
    font-size: 15px;
    padding-top: 25px;
  }

  span {
    font-weight: 200 !important;
    font-size: 15px;
    padding-top: 5px;
  }

  .left-part-content {
    width: 70%;

    @media (min-width: 767px) and (max-width: 992px) {
      width: 100%;
    }

    @media(max-width:500px) {
      width: 100%;
    }
  }
}