nav {
  background: #fff;
  backdrop-filter: blur(7px);
  // position: fixed !important;
  box-shadow: -2px 9px 5px -7px rgba(209, 209, 209, 0.377);
  width: 100%;
  min-height: 91px;
  z-index: 1000;
  top: 0;
  .logo {
    a {
      color: #333333;
      font-size: 25px;
      font-weight: 600;
      text-decoration: none;
      p {
        margin-bottom: 0px !important;
      }
    }
    @media (min-width: 992px) and(max-width:1220px) {
      width: 22%;
    }
    @media (min-width: 1200px) {
      width: 28%;
    }
    @media (max-width: 992px) {
      height: 70px;
    }
  }
  .navbar-nav {
    .nav-item {
      position: relative;
      .nav-link {
        color: $second-color !important;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        @media (min-width: 992px) {
          padding-right: 0.7rem !important;
          padding-left: 0.7rem !important;
        }
      }
      &.active {
        .nav-link {
          color: $main-color !important;
          svg path {
            // stroke: $main-color !important;
            fill: $main-color !important;
          }
          &.home {
            svg path {
              stroke: $main-color !important;
              fill: none !important;
            }
          }
        }
        &::after {
          content: "";
          width: 100%;
          height: 3px;
          border-radius: 10px;
          background-color: $main-color !important;
          position: absolute;
          bottom: -29px;
          // transform: translate(-50%,-50%);
          right: 1px;
          @media (max-width: 992px) {
            // right: 46%;
            width: 0;
          }
        }
      }
    }
  }
  .right-elements {
    .nav-item {
      .nav-link {
        p {
          padding-right: 6px;
          font-size: 16px;
          font-weight: 500;
        }
        &.dropdown-toggle::after {
          display: none !important;
        }
        svg:hover path {
          stroke: $main-color;
        }
      }
    }
  }
  & {
    @media (min-width: 992px) {
      height: 91px;
    }
  }
}

.nav-link {
  span {
    width: 32px !important;
    height: 32px !important;
    border-radius: 22px;
    border: 1px solid #fff;
    padding: 7px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    box-shadow: 0px 10px 20px 0px rgba(119, 126, 144, 0.1);
  }
}

// Toggle button
.navbar-light {
  .navbar-toggler{
    border: 0px solid transparent !important;
  }
}

// Top Nav
.top-nav {
  height: 42px;
  background-color: $main-color;
  width: 100%;
  .time {
    height: 42px;
    svg {
      margin: 0px 5px;
    }
  }
  .left-section {
    height: 42px;
    div {
      padding: 0px 20px;
      height: 100%;
      display: flex;
      align-items: center;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
    .contact {
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      height: 50%;
    }
  }
  @media (max-width: 410px) {
    font-size: 12px;
  }
}

