.events {
  padding-top: 35px;
  padding-bottom: 35px;

  .section-title {
    font-size: 30px;
    text-align: center;
  }

  .title {
    color: #333;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 63.984px;

    @media(width<768px) {
      line-height: 45px;
    }
  }

  .description {
    color: #c0c5d0;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .search {
    margin: 40px auto 0;
    display: flex;
    height: 56px;
    padding: 8px 16px;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    border: 1px solid #dee0e6;
    width: fit-content;

    input {
      min-width: 420px;
      text-align: right;
      flex: 1 0 0;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 0.2px;
      border: none;

      &::placeholder {
        color: #c0c5d0;
      }

      @media(width<768px) {
        min-width: 240px;
      }
    }
  }
}

.pagination {
  width: 100%;
  padding: 75px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16.955px;

  @media(width<768px) {
    gap: 12px;
    padding: 60px 0;
  }

  .link {
    text-transform: none;
    text-decoration: none;
    display: block;
    color: #c0c5d0;
    text-align: right;
    font-family: Tajawal;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.2px;

    &.active {
      color: #00ab67;
    }
  }
}

// Events Blog
.event-blog {
  .news-info {
    padding-right: 20px;
    position: relative;

    .news-item {
      img {
        width: 202px !important;
        min-width: 202px !important;
        height: 188px;
      }
    }

    &:before {
      position: absolute;
      content: "";
      right: -2px;
      top: 0px;
      width: 3px;
      height: 195px;
      background-color: #00ab67;
    }
  }
}