.quick-links{
    .box{
        background-color: #ECFDF39C;
        width: 216px;
        height: 174px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin-top: 20px;
        p{
            font-size: 24px;
            font-weight: 700;
            color:$main-color;
            margin-top: 10px;
        }
    }
    @media(max-width:450px){
        .d-flex{
            justify-content: center !important;
        }
    }
}

// Main Slider


.main-slider {
    margin-top: 40px;

    .item {
        height: 585px;
        background-size: cover;
        width: 100%;
        border-radius: 12px;
        padding: 57px 95px;
        position: relative;

        .content {
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: start;
            justify-content: end;
            position: relative;

            h4 {
                font-size: 30px;
                font-style: normal;
                font-weight: 900;
                line-height: 150%;
                /* 45px */
                letter-spacing: 0.2px;
            }

            p {
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 160%;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                color: #fff;
                outline: none;
                border: none;
                padding: 10px 25px;
                border-radius: 12px;
                background: #00AB67;
            }

        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            background: linear-gradient(0deg, #1B1B1B 5.66%, rgba(27, 27, 27, 0.52) 52.51%, rgba(27, 27, 27, 0.00) 98.65%);
        }
    }
}